<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="">Name</label>
        <input  value="{{items[0]}}" type="text"  name="name"placeholder="Enter item name" required> <br><br>
        <label for="">Description</label>
        <input  value="{{items[1]}}" type="text"  name="desc" placeholder="Enter item Description" required> <br><br>
        <label for="">Quantity</label>
        <input value="{{items[2]}}"  type="text" name="qty" placeholder="Enter item Quantity"required > <br><br>
        <label for="">Category</label>
        <select value="{{items[3]}}" name="category" id="">
            <option value="electronics">electronics</option>
            <option value="grocery">grocery</option>
            <option value="fashion">fashion</option>
            <option value="home">home</option>
        </select> <br><br>
        <label for="">Price</label>
        <input  value="{{items[4]}}" type="text" name="price" placeholder="Price" required> <br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>